<div class="contenedor">
<app-navbar></app-navbar>
<div>
  <app-temporizador [segundos]="1"></app-temporizador>
</div>
  <div class="texto text-center mt-5">
    <h1>{{Titulo}}</h1>
  </div>
  <div class="input-group p-5">    
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
      <label for="floatingInputGroup1">Escriba aquí</label>
    </div>
  </div>
  <div class="mt-5">
    <app-teclado>  </app-teclado>
  </div>
 
<app-footer></app-footer>
</div>