.card {
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    background: linear-gradient(135deg, #004466, #182848);
    color: #ffffff;
  }
  
  .btn-danger {
    margin-top: 1rem;
  }
  