<div class="login-wrapper">
    <div class="login-container">
      <h2 class="text-center">Bienvenido</h2>
      <p class="text-center text-muted">Por favor, ingresa tus datos</p>
      
      <form (ngSubmit)="login()">
        <!-- Campo de Email con icono -->
        <div class="form-group">
          <div class="input-icon">
            <i class="bi bi-envelope-fill"></i>
            <input type="email" class="form-control" id="username" [(ngModel)]="username" name="username" required placeholder="Correo electrónico">
          </div>
        </div>
  
        <!-- Campo de Contraseña con icono -->
        <div class="form-group">
          <div class="input-icon">
            <i class="bi bi-lock-fill"></i>
            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Contraseña">
          </div>
        </div>
        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
        <!-- Botón de Inicio de Sesión -->
        <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar sesión</button>
  
        <!-- Enlace para recuperar contraseña -->
        <a href="/registrar" class="forgot-password text-center d-block mt-2">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
  </div>