   .navbar {
    background-color: #004466;
  }

  .nav-item{
    height: 50px;
    margin-left: 300px;
  }
  

  .navbar .nav-link {
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
  }

  .navbar .nav-link:hover {
    color: #ffcc00;
  }

  .navbar-brand {
    color: #ffcc00;
    font-size: 1.5rem;
    transition: color 0.3s;
  }

  .navbar-brand:hover {
    color: #ffffff;
  }